src/main/app/test1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:google-spreadsheets="http://www.mulesoft.org/schema/mule/google-spreadsheets" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/google-spreadsheets http://www.mulesoft.org/schema/mule/google-spreadsheets/current/mule-google-spreadsheets.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <google-spreadsheets:config-with-oauth name="Google_Spreadsheets" consumerKey="1042500598033-g2add6t8qe0vrj3l8ji6trc5i11cljiq.apps.googleusercontent.com" consumerSecret="Zo-duUDzlarh2ETJb6zvPMwP" doc:name="Google Spreadsheets">
        <google-spreadsheets:oauth-callback-config domain="localhost" localPort="3000" remotePort="3000" path="oauthcall"/>
    </google-spreadsheets:config-with-oauth>
    <google-spreadsheets:config-with-oauth name="Google_Spreadsheets1" consumerKey="1042500598033-g2add6t8qe0vrj3l8ji6trc5i11cljiq.apps.googleusercontent.com" consumerSecret="Zo-duUDzlarh2ETJb6zvPMwP" doc:name="Google Spreadsheets">
        <google-spreadsheets:oauth-callback-config domain="localhost" localPort="3000" remotePort="3000" path="call"/>
    </google-spreadsheets:config-with-oauth>
    <google-spreadsheets:config-with-oauth name="purge" consumerKey="1042500598033-g2add6t8qe0vrj3l8ji6trc5i11cljiq.apps.googleusercontent.com" consumerSecret="Zo-duUDzlarh2ETJb6zvPMwP" doc:name="Google Spreadsheets">
        <google-spreadsheets:oauth-callback-config domain="localhost" localPort="3000" remotePort="3000" path="purge"/>
    </google-spreadsheets:config-with-oauth>
    <google-spreadsheets:config-with-oauth name="create" consumerKey="1042500598033-g2add6t8qe0vrj3l8ji6trc5i11cljiq.apps.googleusercontent.com" consumerSecret="Zo-duUDzlarh2ETJb6zvPMwP" scope="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/drive https://spreadsheets.google.com/feeds https://docs.google.com/feeds" doc:name="Google Spreadsheets">
        <google-spreadsheets:oauth-callback-config domain="localhost" localPort="3000" remotePort="3000" path="create"/>
    </google-spreadsheets:config-with-oauth>
    <flow name="Get_data_from_spreadsheet">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/hello" doc:name="HTTP"/>
        <logger message="proccesss....." level="INFO" doc:name="Logger"/>
        <google-spreadsheets:authorize config-ref="Google_Spreadsheets" accessTokenUrl="https://accounts.google.com/o/oauth2/token" authorizationUrl="https://accounts.google.com/o/oauth2/auth" doc:name="Google Spreadsheets"/>
        <logger message="after auth" level="INFO" doc:name="Logger"/>
        <google-spreadsheets:get-all-cells-as-csv config-ref="Google_Spreadsheets" spreadsheet="Employee" worksheet="Employee" accessTokenId="#[flowVars['OAuthAccessTokenId']]" doc:name="Google Spreadsheets"/>
        <file:outbound-endpoint path="src/test/resources/out" responseTimeout="10000" doc:name="File"/>
    </flow>
    <flow name="Create_worksheet">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/work" doc:name="HTTP"/>
        <logger message="proccesss....." level="INFO" doc:name="Logger"/>
        <google-spreadsheets:authorize config-ref="Google_Spreadsheets1" accessTokenUrl="https://accounts.google.com/o/oauth2/token" authorizationUrl="https://accounts.google.com/o/oauth2/auth" doc:name="Authorize"/>
        <logger message="after auth" level="INFO" doc:name="Logger"/>
        <google-spreadsheets:create-worksheet config-ref="Google_Spreadsheets1" spreadsheet="Employee" title="mule" colCount="10" rowCount="10" accessTokenId="#[flowVars['OAuthAccessTokenId']]" doc:name="Create worksheet"/>
    </flow>
    <flow name="Purge_worksheet">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/purge" doc:name="HTTP"/>
        <logger message="proccesss....." level="INFO" doc:name="Logger"/>
        <google-spreadsheets:authorize config-ref="purge" accessTokenUrl="https://accounts.google.com/o/oauth2/token" authorizationUrl="https://accounts.google.com/o/oauth2/auth" doc:name="Copy_of_Authorize"/>
        <logger message="after auth" level="INFO" doc:name="Logger"/>
        <google-spreadsheets:purge-worksheet config-ref="purge" spreadsheet="Employee" worksheet="Employee" accessTokenId="#[flowVars['OAuthAccessTokenId']]" doc:name="Purge_worksheet"/>
    </flow>
    <flow name="Create_spreadsheet">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/create" doc:name="HTTP"/>
        <logger message="proccesss....." level="INFO" doc:name="Logger"/>
        <google-spreadsheets:authorize config-ref="create" accessTokenUrl="https://accounts.google.com/o/oauth2/token" authorizationUrl="https://accounts.google.com/o/oauth2/auth" doc:name="Authorize"/>
        <logger message="after auth" level="INFO" doc:name="Logger"/>
        <google-spreadsheets:create-spreadsheet config-ref="create" title="mulestuff" accessTokenId="#[flowVars['OAuthAccessTokenId']]" doc:name="Create_spreadsheet"/>
    </flow>
</mule>
